.usflag{
  max-width: 1.4rem;
}
.ustext{
  font-size: 1rem;
  color: rgb(95, 87, 87);
}
.uslogo{
  max-width: 25%;
  padding: 30px;
  @media only screen and (max-width :$bp-small){
    max-width: 45%;
    }

  @media only screen and (max-width :$bp-phone2){
    max-width: 45%;
    }
  @media only screen and (max-width :$bp-phone){
    max-width: 45%;
  }
}


.advertPicture{
  max-width: 100%;
  height: 100%; 
  background-size: cover;
  @media only screen and (max-width :$bp-small){
    max-width: 100%;
  }
  @media only screen and (max-width :$bp-smallest){
    width: 100%;
    height: 100%;

  }
  @media only screen and (max-width :$bp-phone2){
    width: 100%;
  }
  @media only screen and (max-width :$bp-phone){
    width: 100%;
    height: 100%;
  }

}


.advertTextHead{
    font-size: 2rem;
    padding: 1rem;
    @media only screen and (max-width :$bp-large){
      font-size: 2.5rem;
      padding: 1.5rem;
    }
    @media only screen and (max-width :$bp-small){
      margin-right: 10rem;
      font-size: 3.5rem;

    }

    @media only screen and (max-width :$bp-smallest){
      font-size: 3rem;
  
      }

    @media only screen and (max-width :$bp-phone2){
      font-size: 2.5rem;
  
  
    }
    @media only screen and (max-width :$bp-phone){
      font-size: 1.5rem;

    }

}
.advertTextList{
    font-size: 1.8rem;   
    padding: 5rem;
    margin-top: -5rem;
    
    @media only screen and (max-width :$bp-large){
      font-size: 2rem;
      
    }
    @media only screen and (max-width :$bp-small){
      font-size: 2.5rem;
      
    }
    @media only screen and (max-width :$bp-smallest){
    font-size: 2.5rem;

    }
    @media only screen and (max-width :$bp-phone2){
      font-size: 1.8rem;
    }
    @media only screen and (max-width :$bp-phone){
      font-size: 1.5rem;
  
    }

    &--list{
        padding: 0.5rem;
        width: 15rem;
        @media only screen and (max-width :$bp-small){
          width: 100%;
          
        }
        @media only screen and (max-width :$bp-smallest){
          width: 100%;
         }
        @media only screen and (max-width :$bp-phone2){
         width: 100%;
        }
    }

}

.boxHead{
   font-size: 1.5rem;
   font-weight:900;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 5px;
   @media only screen and (max-width :$bp-large){
     font-size: 2rem;
   }
   @media only screen and (max-width :$bp-medium){
    font-size: 2rem;
 }
 @media only screen and (max-width :$bp-small){
  box-shadow :0 2rem 6rem rgba(0,0,0,.3);
      font-size: 3rem;
      width: 40rem;
  }
      @media only screen and (max-width :$bp-smallest){
        font-size: 2rem;
        width: 40rem;
      box-shadow :0 2rem 6rem rgba(0,0,0,.3);

    }
    @media only screen and (max-width :$bp-phone2){
      font-size: 2rem;
      box-shadow :0 2rem 6rem rgba(0,0,0,.3);
      width: 27rem;

   }
    @media only screen and (max-width :$bp-phone){
      font-size: 1.5rem;
      box-shadow :0 2rem 6rem rgba(0,0,0,.3);
      width: 21rem;
      
  
   }
       

}
.boxText{
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @media only screen and (max-width :$bp-large){
      font-size: 1.5rem;
    }
    @media only screen and (max-width :$bp-medium){
      font-size: 1.3rem;
   }
   @media only screen and (max-width :$bp-small){
    font-size: 2rem;
    width: 40rem;

  }
   @media only screen and (max-width :$bp-smallest){
    font-size: 2rem;
    width: 40rem;
  }
   @media only screen and (max-width :$bp-phone2){
    font-size: 1.5rem;
    width: 27rem;

 }
   @media only screen and (max-width :$bp-phone){
    font-size: 1.3rem;
    width: 22rem;

 }


}

.shareText{
  font-size: 1.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


  @media only screen and (max-width :$bp-small){
    display: none;
      }
  @media only screen and (max-width :$bp-smallest){
    display: none;
      }
  @media only screen and (max-width :$bp-phone2){
    display: none;
      }
  @media only screen and (max-width :$bp-phone){
    display: none;
      }

}
.iconSize-1{
  font-size: 3.5rem;
  color: blue;
}
.iconSize-2{
    font-size: 3.5rem;
    color: lightseagreen;
  }

  .iconSize-3{
    font-size: 3.5rem;
    color: red;
  }

  .iconSize-4{
    font-size: 3.5rem;
    color: black; 
  }

  .copywrite{
    color: white;
    @media only screen and (max-width :$bp-phone){
    font-size: 1rem;
      }
  }


  .footHead{
      font-size: 2.5rem;
      color: white;
      margin-top: 1rem;
  }
  
  .footList{
    display:flex;
    flex-direction: column;
 
    gap: 2rem;
    margin-top: 2rem;
  }
  .footSignup{
    font-size: 2.5rem;
    color: white;
    width: 100%;
  }





