.header{

    max-height: 100%;


    &__header1{
        display: flex;
        background-color: rgb(223, 207, 185);
        padding: 3px;

 
        gap: 5px;
    }
   
    &__header2{
        display: flex;
        justify-content: space-between;
        align-items: center;
 
        // padding: 10px;
        border-bottom:  solid 1px gray;
        

        gap: 5px;
    }
}