.container{
    max-height: 100%;

    @media only screen and (max-width :$bp-large){
        max-height: 100%;
    }
    
    @media only screen and (max-width :$bp-phone){
        max-height: 100%;

    }
}
.content{

    max-height: 100%;
    padding: 8rem;

    @media only screen and (max-width :$bp-medium){
        padding: 3rem;
        margin-top: 2rem;
        }

   
    @media only screen and (max-width :$bp-small){
        padding: 5rem;
        margin-top: 1rem;

        }


        @media only screen and (max-width :$bp-smallest){
            padding:1.5rem;
            margin-top: 1rem;
        
         

            }

    @media only screen and (max-width :$bp-phone2){
        padding:2.5rem;
        margin-top: 1rem;
  
        }

    @media only screen and (max-width :$bp-phone){
        margin-top: 1rem;   
        padding:2rem;
       

    }

    &__title{
        color: red;
        font-size: 3rem;
        margin-top: -5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
      
        
        @media only screen and (max-width :$bp-medium){
            font-size: 4rem;
            margin-top: -2rem;
      
            }

        @media only screen and (max-width :$bp-small){
            font-size: 4.5rem;
            margin-top: -1rem;
      
            }
        @media only screen and (max-width :$bp-smallest){
            font-size: 3.5rem;
            margin-top: -1rem;
      
            }
        @media only screen and (max-width :$bp-phone2){
           font-size: 3rem;
           margin-top: -1rem;
     
           }
        @media only screen and (max-width :$bp-phone){
            font-size: 2.5rem;
            margin-top: -1rem;
         
        }
        
    }

    &__advert{
   
        box-shadow :0 2rem 6rem rgba(0,0,0,.3);

       max-height: 100%;
       margin-top: 2rem;
       
       display: flex;
       justify-content: space-between;
       
    @media only screen and (max-width :$bp-medium){
        width: 85rem;
        }
    
    @media only screen and (max-width :$bp-small){
    display: flex;
    flex-direction: column;

         


    width: 45rem;
    height: 45rem;
    }

    @media only screen and (max-width :$bp-smallest){
       height: 45rem;
       width: 37rem; 

          }

    @media only screen and (max-width :$bp-phone2){
      width: 32rem;
      height: 37rem;
        }


    @media only screen and (max-width :$bp-phone){
     height: 40rem;
     width: 27rem;
     margin-top: 1rem;
 
      }

       &--side1{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 50%;
         max-height: 100%;
        
         @media only screen and (max-width :$bp-small){
              height: 20rem; 

             width: 100%;

            }
            @media only screen and (max-width :$bp-smallest){
                max-width: 100%;
               max-height: 50%;
       
              }
              @media only screen and (max-width :$bp-phone2){
    
               height: 18rem;
            
              }

       }
       &--side2{
       width: 50%;
        padding: 5px;
        background-color: rgb(136, 208, 232);
             
        @media only screen and (max-width :$bp-small){
            width: 100%;
            height: 28rem;
          
      
       

            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

         
            }
            @media only screen and (max-width :$bp-smallest){
           
                max-width: 100%;
              }
              @media only screen and (max-width :$bp-phone){
          
                width: 100%;

          
              }
         
       }
   
    }
   


}

.card{

    margin-top: 3rem;
    max-height: 100%;
    padding: -1rem;

    display: flex;
    flex-direction: column;
    gap: 5rem;


    
    @media only screen and (max-width :$bp-small){
       gap: 45rem;
       height: 460rem;
       margin-top: 10rem;
    

       display: flex;
       justify-content: flex-start;
    

       @media only screen and (max-width :$bp-smallest){
        height: 460rem;
        padding: -2rem;


           }

       @media only screen and (max-width :$bp-phone2){
        height: 350rem;
        gap: 30rem;

           }



       @media only screen and (max-width :$bp-phone){
        max-width: 100%;
        height: 350rem;

           }
       }

    &__card1{
        height: 30rem;
        padding: 2rem;
    
        display: flex;
        justify-content: space-between;
        gap: 3rem;


 
        @media only screen and (max-width :$bp-small){
            display: flex;
            flex-direction: column;

            height: 120rem;
            gap: 1rem;

            &:not(:last-child){
                margin-bottom: -10rem;
            }     
        
           
           }
           @media only screen and (max-width :$bp-smallest){
            height: 125rem;
               }

           
           @media only screen and (max-width :$bp-phone2){
            height: 100rem;

      
        }
           @media only screen and (max-width :$bp-phone){
     
            height:100rem;   
        }

    

    }
}

.buttonShell{

    height: 20rem;
    padding: 10px;
    margin-top: 8rem;
    @media only screen and (max-width :$bp-medium){
        margin-top: 10rem;
     }

     @media only screen and (max-width :$bp-small){
        margin-top: 5rem;
               
               }
}
.shareShell{
    margin-top: -8rem;
    display: flex;
    gap: 2rem;

    @media only screen and (max-width :$bp-phone){
  
        padding: 10px;
        margin-top: -12rem;
    
   
      }

}

.form{

    &__group:not(:last-child){
         margin-bottom: 2rem;
    }
    &__input{
       font-size: 1.5rem;
       padding: 1rem 2rem;
       border-radius: 2px;
       background-color: rgba(#fff, .5);
       border: none;
       border-bottom: 3px solid transparent;
       width: 95%;

       display: block;

       transition: all .3s;

           
    &:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black, .1);
        border-bottom: 3px solid green;
       }

    &:focus:invalid{
        border-bottom: 3px solid orange;
    }
    
    &::-webkit-input-placeholder{
        color: gray;

       }

}

&__label{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-top: 2rem;
    display: block;

    transition: all .3s;

}
}

