.linked{

    &,
    &:link,
    &:visited{

        font-weight: 400;
        text-decoration: none;

         color: rgb(11, 11, 86);

        cursor: pointer;}
}
.card1__box{
    height: 10rem;
    width: 35rem;

    padding: 5px;
    @media only screen and (max-width :$bp-large){
        width:35rem;
        height: 15rem;
     }
    @media only screen and (max-width :$bp-medium){
         width:35rem;
         height: 15rem;
      }
      @media only screen and (max-width :$bp-small){
  
        width: 35rem;    
        height: 10rem;
        gap: 2rem;

        
       }
       
       @media only screen and (max-width :$bp-phone){
        max-width: 100%;
        height: 12rem;
        
    
    }

    &,
    &:link,
    &:visited{

        font-weight: 400;
        text-decoration: none;
    
         color: rgb(11, 11, 86);

        cursor: pointer;

    }

}

.button{
    width: 50rem;
    padding: 10px;




    background-color: rgb(118, 206, 235);
    border: none;
    border-radius: 3px;
    @media only screen and (max-width :$bp-smallest){
        padding: 10px;
   
      }

      @media only screen and (max-width :$bp-phone2){
        padding: 8px;
      }
      
      @media only screen and (max-width :$bp-phone){

        padding: 8px;
      }

    &,
    &:link,
    &:visited{

        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        color: black;

        cursor: pointer;

        @media only screen and (max-width :$bp-smallest){
            font-size: 12px;
          }
          @media only screen and (max-width :$bp-phone2){
            font-size: 12px;
          }
          @media only screen and (max-width :$bp-phone){
            font-size: 10px;
          }
    
    
        &:hover{
         text-decoration: underline;
         color: black;
             }
    }
}
.footLink{
    color: white;
    font-size: 2.5rem;

    
    &,
    &:link,
    &:visited{

        font-weight: 700;
        font-size: 20px;
        cursor: pointer;

    }
}

.footButton{

    width: 15rem;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: lightblue;
    border: none;
    border-radius: 3px;
}   
.popbutton{

  margin-top: 1rem;
  width: 95%;
  padding: 10px;

  background-color: lightgreen;
  border: none;
  border-radius: 3px;

  
      font-weight: 700;
      font-size: 18px;
      text-decoration: none;
      color: #fff;

      cursor: pointer;


      @media only screen and (max-width :$bp-large){
        font-size: 2rem;   
        padding: 12px;
      }

      @media only screen and (max-width :$bp-phone){
        font-size: 1.2rem;
        padding: 10px;
        }
    
}

  


